* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.6em;
    font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
}

#main-header {
    background-color: rgb(29, 26, 26);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myform {
    border: 2px solid rgb(29, 26, 26);
    border-radius: 15px;
    width: 35%;
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    box-shadow: inset 0px 0px 10px 10px white;
}

#myform label {
    display: block;
    margin-top: 3rem;
}

#myform select {
    width: 40%;
    margin-top: 0.5rem;
}


.pic {
    background-image: url("backgroundIMG.webp");
    background-repeat: no-repeat;
    background-position: 30% 80%;
    background-size: cover;
    height: 50vh;
    margin-bottom: 200px;
    border-bottom: 5px solid rgb(29, 26, 26);
    display: flex;
    justify-content: start;
    align-items: center;
}

.pic .img-text {
    font-size: 24px;
    line-height: 1.6em;
    font-style: italic;
    width: 45%;
    margin-left: 3rem;

}



.pic #direct {
    display: inline-block;
    color: white;
    font-style: normal;
}

button {
    cursor: pointer;
    padding: 10px;
    margin-top: 3rem;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    background: rgb(255, 255, 255);
}

button:active {
    background: rgba(255, 255, 255, 50%)
}

footer {
    margin-top: 300px;
}

.cite {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.message {
    text-align: center;
    color: red;
    background-color: aliceblue;
    border-width: 150px;
    margin: 0 auto;
    margin-top: 1rem;
    width: 40%;

}

.workout-header {
    margin-top: 70px;
    color: silver;
    font-style: italic;
    font-size: 22px;
    text-align: center;
}

.exercises {
    text-align: center;
    font-size: 16px;
    padding-top: 6px;
    color: white;
    list-style: square;
    list-style-position: inside;
}

.exercises li {
    padding-top: 15px;
}